<!doctype html>
<html lang="es">
  <body>
    <h1>Iniciar sesión</h1>

    {% if form.errors %}
      <p style="color:red">Usuario o contraseña incorrectos</p>
    {% endif %}

    <form method="post">
      {% csrf_token %}
      <p>
        {{ form.username.label_tag }}<br>
        {{ form.username }}
      </p>
      <p>
        {{ form.password.label_tag }}<br>
        {{ form.password }}
      </p>

      <!-- Campo oculto para redirección -->
      <input type="hidden" name="next" value="{{ next }}">

      <button type="submit">Entrar</button>
    </form>
  </body>
</html>
